:root {
    --red-color: #BF1E2D;
    --light-grey-color : #D9D9D9;
    --grey-color : #797979;
    --blue-color : #E2E3F8;
}

body {
    font-family: 'Kadwa' !important;
}

h1 {
    font-family: 'Jomhuria';
    font-size: 6rem !important;
}

input::placeholder, textarea::placeholder {
    color: var(--light-grey-color);
}

.nav-large-width {
    width: 35%;
}

.red-color {
    color: var(--red-color);
}

img.center {
    display: block;
    margin : auto;
}

button.center {
    display: block;
    margin : auto;
}

div.custom-width {
    width: 25% !important;
}

button.header {
    display: block;
    margin : auto;
    margin-top: 20%;
}

button.red-color {
    font-family: 'Jomhuria';
    font-size: 2em !important;
    color: white;
    border: 0px;
    width: 65%;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--red-color);
    font-weight: bold;
    border: 2px solid transparent;
}

button.red-color:hover {
    font-family: 'Jomhuria';
    font-size: 2em !important;
    color: var(--red-color);
    border: 0px;
    width: 65%;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}

.grey-border {
    border: 4px solid var(--light-grey-color);
    border-radius: 30px;
}

.grey-circle {
    background: var(--light-grey-color);
    border-radius: 100%;
}

.blue-background {
    background-color: var(--blue-color);
}

button.form {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

.grey-background {
    background-color: var(--grey-color);
}

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../assets/images/header.png);
    background-size: cover;
}